* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
  }
  
  body {
    background-color: #435761;
  }
  
  ul {
    list-style: none;
  }
  
  .coinlist-image {
    width: 50px;
  }
  
  .coinlist-item {
    display: flex;
  }
  
  .coinsummary {
    border-color: white !important;
    border-style: outset !important;
    background-color: #d4d9ea !important;
  }

  .list-group-item-action:focus, .list-group-item-action:hover {
    background-color: #1aa25b2b;
}
  .titletrack {
    color: #8d9bff !important
  }

  .coin-data-category {
    font-size: 10px;
  }
  
  .delete-icon {
    display: none;
    position: absolute;
    right: 6px;
  }
  
  .coin:hover .delete-icon {
    display: block;
  }
  